body {
    overflow: hidden;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;

    height: 550px;
    width: 810px;
}

.window {
    box-shadow: 0 4px 8px 0 rgba(122, 96, 96, 0.2);
    max-width: 410px;
    background-color: #fff;

    z-index: 10;
}

.item-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    background-image: url('./assets/img/item-blue.jpg');
    background-size: cover;
    height: 550px;
    width: 400px;

    z-index: 11;
}

.background-blue {
    background: #457;
    position: absolute;
    width: 120%;
    height: 70%;

    left: -110px;
    top: -140px;
    transform: rotate(-5deg);
}

.background-white {
    background-color: #999999;
    position: absolute;
    width: 120%;
    height: 70%;

    left: -90px;
    top: 50%;
    transform: rotate(-5deg);
}
